<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{page-layout/layout1}">
<head>
<meta charset="UTF-8">
<title>List Species</title>
</head>
<body>
	<div id="body" layout:fragment="content">
		<div id="content">
		<div class="content-header">
			<h1>List species</h1>
		</div>
		<div class="new-icon">
			<a href="/admin/species/update" th:href="@{/admin/species/update}" class=""><i class="ti-plus">New</i></a>
		</div>
		<table>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>Actions</th>
			</tr>		
				<tr th:each="s : ${listSpecies}">
				<td th:text="${s.id}"></td>
				<td th:text="${s.name}"></td>
				<td><a th:href="@{/admin/species/delete(id=${s.id})}" class=""><i class="ti-trash">Delete</i></a>
					<a th:href="@{/admin/species/edit(id=${s.id})}" class=""><i class="ti-pencil">Edit</i></a>
				</td>
			</tr>
		</table>
	</div>
	</div>
</body>
</html>